input/Load_Models/GRACE-Tellus-RL06/GRCTellus.JPL.200204_202311.GLO.RL06.1M.MSCNv03.nc
doc/Tutorial.pdf
doc/Tutorial_May2023.pdf
doc/LoadDef_v1.1.5_User_Manual.pdf
input/Load_Models/GOT410c/README2
input/Load_Models/GOT410c/README
input/Load_Models/GOT410c/perth3.f
input/Load_Models/GOT410c/grids_SAL/s2sal.nc
input/Load_Models/GOT410c/grids_SAL/q1sal.nc
input/Load_Models/GOT410c/grids_SAL/p1sal.nc
input/Load_Models/GOT410c/grids_SAL/o1sal.nc
input/Load_Models/GOT410c/grids_SAL/n2sal.nc
input/Load_Models/GOT410c/grids_SAL/m2sal.nc
input/Load_Models/GOT410c/grids_SAL/k2sal.nc
input/Load_Models/GOT410c/grids_SAL/k1sal.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/s2.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/s1.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/q1.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/p1.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/o1.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/n2.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/m4.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/m2.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/k2.nc
input/Load_Models/GOT410c/grids_oceantide_netcdf/k1.nc
input/Load_Models/GOT410c/grids_oceantide/s2.d
input/Load_Models/GOT410c/grids_oceantide/s1.d
input/Load_Models/GOT410c/grids_oceantide/q1.d
input/Load_Models/GOT410c/grids_oceantide/p1.d
input/Load_Models/GOT410c/grids_oceantide/o1.d
input/Load_Models/GOT410c/grids_oceantide/n2.d
input/Load_Models/GOT410c/grids_oceantide/m4.d
input/Load_Models/GOT410c/grids_oceantide/m2.d
input/Load_Models/GOT410c/grids_oceantide/k2.d
input/Load_Models/GOT410c/grids_oceantide/k1.d
input/Load_Models/GOT410c/grids_oceantide/.DS_Store
input/Load_Models/GOT410c/grids_oceantide/._.DS_Store
input/Load_Models/GOT410c/grids_ocean+load/s2alt.d
input/Load_Models/GOT410c/grids_ocean+load/s1alt.d
input/Load_Models/GOT410c/grids_ocean+load/q1alt.d
input/Load_Models/GOT410c/grids_ocean+load/p1alt.d
input/Load_Models/GOT410c/grids_ocean+load/o1alt.d
input/Load_Models/GOT410c/grids_ocean+load/n2alt.d
input/Load_Models/GOT410c/grids_ocean+load/m4alt.d
input/Load_Models/GOT410c/grids_ocean+load/m2alt.d
input/Load_Models/GOT410c/grids_ocean+load/k2alt.d
input/Load_Models/GOT410c/grids_ocean+load/k1alt.d
input/Load_Models/GOT410c/grids_loadtide/s2load.d
input/Load_Models/GOT410c/grids_loadtide/s1load.d
input/Load_Models/GOT410c/grids_loadtide/q1load.d
input/Load_Models/GOT410c/grids_loadtide/p1load.d
input/Load_Models/GOT410c/grids_loadtide/o1load.d
input/Load_Models/GOT410c/grids_loadtide/n2load.d
input/Load_Models/GOT410c/grids_loadtide/m4load.d
input/Load_Models/GOT410c/grids_loadtide/m2load.d
input/Load_Models/GOT410c/grids_loadtide/k2load.d
input/Load_Models/GOT410c/grids_loadtide/k1load.d
output/Convolution/cn_LandAndOceans_A117_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A112_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A107_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A102_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A097_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A095_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A093_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A091_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A089_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A087_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A085_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A083_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A081_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A079_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A077_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A075_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A073_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A071_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A069_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A067_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A057_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A042_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A032_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A027_ce_convgf_disk_1m_commonMesh_PREM.txt
output/Convolution/cn_LandAndOceans_A001_ce_convgf_disk_1m_commonMesh_PREM.txt
input/Load_Models/GOT410c/README
input/Load_Models/GOT410c/grids_loadtide/.DS_Store
input/Load_Models/GOT410c/grids_loadtide/._.DS_Store
input/Load_Models/GOT410c/gridio.f
input/Load_Models/GOT410c/.DS_Store
input/Load_Models/GOT410c/._.DS_Store
GRDGEN/utility/__pycache__/read_tpxo9atlas.cpython-310.pyc
GRDGEN/utility/__pycache__/read_tpxo8atlas.cpython-310.pyc
GRDGEN/utility/__pycache__/read_tpxo7atlas.cpython-310.pyc
GRDGEN/utility/__pycache__/read_schwiderski.cpython-310.pyc
GRDGEN/utility/__pycache__/read_osu_local.cpython-310.pyc
GRDGEN/utility/__pycache__/read_osu12.cpython-310.pyc
GRDGEN/utility/__pycache__/read_hamtide11a.cpython-310.pyc
GRDGEN/utility/__pycache__/read_got410c.cpython-310.pyc
GRDGEN/utility/__pycache__/read_got410.cpython-310.pyc
GRDGEN/utility/__pycache__/read_fes2014.cpython-310.pyc
GRDGEN/utility/__pycache__/read_fes2012.cpython-310.pyc
GRDGEN/utility/__pycache__/read_fes2004.cpython-310.pyc
GRDGEN/utility/__pycache__/read_eot11a.cpython-310.pyc
GRDGEN/utility/__pycache__/read_dtu10.cpython-310.pyc
GRDGEN/load_files/temp_pha474.txt
GRDGEN/load_files/temp_pha321.txt
GRDGEN/load_files/temp_pha318.txt
GRDGEN/load_files/temp_pha218.txt
GRDGEN/load_files/temp_amp392.txt
GRDGEN/load_files/temp_amp221.txt
GRDGEN/load_files/temp_amp192.txt
GRDGEN/load_files/temp_amp123.txt
CONVGF/utility/__pycache__/read_convolution_file.cpython-310.pyc
input/Load_Models/GOT410c/README
input/Load_Models/GOT410c/README
input/Load_Models/GOT410c/README
output/Greens_Functions/ce_PREM_analyticalDisk_10.0km-NoTaper_1m.txt
output/Greens_Functions/ce_PREM_analyticalDisk_50.0km-NoTaper_1m.txt
output/Greens_Functions/cf_PREM_analyticalDisk_10.0km-NoTaper_1m.txt
output/Greens_Functions/cf_PREM_analyticalDisk_50.0km-NoTaper_1m.txt
output/Greens_Functions/cm_PREM_analyticalDisk_10.0km-NoTaper_1m.txt
output/Greens_Functions/cm_PREM_analyticalDisk_50.0km-NoTaper_1m.txt
output/Grid_Files/nc/commonMesh/commonMesh_disk_5.0_5.0_85.0_90.0_0.0_360.0_0.2_1.0_89.4_90.0_0.0_360.0_0.001_1.0.nc
output/Grid_Files/nc/commonMesh/commonMesh_disk_5.0_5.0_85.0_90.0_0.0_360.0_0.2_1.0_89.4_90.0_0.0_360.0_0.001_1.0_oceanmask.nc
output/Grid_Files/nc/Custom/convgf_disk_1m_10km-NoTaper.nc
output/Grid_Files/nc/Custom/convgf_disk_1m_50km-NoTaper.nc
utility/__pycache__/__init__.cpython-310.pyc
utility/pmes/__pycache__/__init__.cpython-310.pyc
utility/pmes/__pycache__/combine_stations.cpython-310.pyc
utility/pmes/output/cn_LandAndOceans_10km-NoTaper_ce_convgf_disk_1m_commonMesh_PREM.txt
utility/pmes/output/cn_LandAndOceans_50km-NoTaper_ce_convgf_disk_1m_commonMesh_PREM.txt
